.cards__trash{
    width: 18px;
    height: 19px;
    background: url("../../../images/trash.svg");
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-size: contain;
    align-self: flex-end;
    margin-top: 18px;
    padding-right: 15px;
    padding-left: 18px;
    position: absolute;
}
.cards__trash:hover{
    opacity: .6;
    transition: linear .3s; 
}
.cards__trash:focus{
    outline: none;
}
