.profile__add-button{
    background: url("../../../images/Add_Button.svg");
    background-repeat: no-repeat;
    border: none;
    width: 150px;
    height: 50px;
    margin: 0 0 0 auto;
    cursor: pointer;
}
.profile__add-button:hover{
    opacity: .6;
    transition: linear .3s; 
}
.profile__add-button:focus{
    outline: none;
}
@media screen and (max-width: 680px){
    .profile__add-button{
        background: url("../../../images/Add_Button_big.svg");
        width: 282px;
        height: 50px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 320px){
    .profile__add-button{
        margin-top: 36px;
    }
}