.modal__close-button{
    position: absolute;
    top: -41px;
    right: -41px;
    background: url("../../../images/Close_button.svg");
    background-size: cover;
    width: 41px;
    height: 41px;
    border: none;
    padding: 0;
    cursor: pointer;
}
.modal__close-button:hover{
    opacity: .6;
    transition: linear .3s; 
}
@media screen and (max-width: 480px){
    .modal__close-button{
        right: 0;
    }
}